.App {
  background-color: #778899;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Almendra', serif;

}

.map-container {
  /* display: flex; */
  /* left: 100%; */
}

.mapboxgl-map {
  /* z-index: -1; */
}

.map-description {
  display: flex;
  justify-content: center;
  /* margin: 20px; */
  width: 80%;
  margin: 20px;
  margin-left: 10%;
}

.mapboxgl-popup-content{
  background: none;

  /* border: 2px solid black; */
}

.historical-event-form {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}

.historical-event-form-item {
  padding:0 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form-label {

}

.form-input {
  margin-left: 10px;
  border: 1px solid blue;
  background-color: rgb(155,46,46,.5);
  border-radius: 4px;
}

.submit-button {
  margin-right: 15px;
   border: none;
   text-decoration: none;
   border-radius: 10px;
}

.pop-up-image {
  height: 120px;
  width: auto;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}


a {
  color: black;
  text-decoration: none;
}

.historical-event-description {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 80%;
  margin-left: 10%;
}

.coat-of-arms {
  display: flex;
  width: auto;
  height: 120px;
  margin-left: 20px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.navbar {
  display:flex;
  margin: 0px;
  font-size: 0px;
  color: black;
  justify-content: center;
  /* margin-left: 20px; */
  /* z-index: -1; */
}

.nav-item {
  display: flex;
  width: 100px;
  margin-right: 20px;
  /* float: right; */
  /* padding: 20px; */
  font-size: 1.7em;
  font-weight: bold;
  min-width: 250px;
  background: rgb(256,256,256,.5);
  margin: 25px;
  border-radius: 25px;
  justify-content: center;
  margin-left: 200px;
  height: 80px;
}

.nav-item:hover {
  /* color: white; */
  text: rgb(44,93,175);
  background: rgb(155,46,46,.5);
}

.nav-item-text {
  margin: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
