.App {
  background-color: #778899;
  background-size: cover;
   height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Almendra', serif;

}

.map-container {
  /* display: flex; */
  /* left: 100%; */
}

.mapboxgl-map {
  /* z-index: -1; */
}

.map-description {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.historical-event-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pop-up-image {
  height: 120px;
  width: auto;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.navbar {
  display:flex;
  margin: 0;
  font-size: 20px;
  color: black;
  justify-content: center;
  /* margin-left: 20px; */
  /* z-index: -1; */
}

a {
  color: black;
  text-decoration: none;
}

.historical-event-description {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.coat-of-arms {
  display: flex;
  /* width: 20px; */
  height: 50;
  margin-left: 20px;

}

.nav-item {
  display: flex;
  width: 100px;
  /* margin-right: 20px; */
  /* float: right; */
  /* padding: 20px; */
  font-size: 1.7em;
  font-weight: bold;
  min-width: 250px;
  background: rgb(256,256,256,.5);
  margin: 25px;
  border-radius: 25px;
  justify-content: center;
  margin-left: 200px;
  height: 80px;
}

.nav-item-text {
  margin: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
